@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

p {
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-weight: 800;
    font-style: normal;
}


.poppins-black {
    font-weight: 900;
    font-style: normal;
}

.poppins-light {
    font-weight: 300;
    font-style: normal;
}

.poppins-extralight {
    font-weight: 200;
    font-style: normal;
}

.poppins-thin {
    font-weight: 100;
    font-style: normal;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {
    font-size: 14px;
    margin: 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.input-deco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    text-align: center;
    margin-bottom: 0.5rem;
}

.input p {
    padding: 0.25rem 0;
    color: white;
}

input {
    width: 45rem;
    padding: 0.5rem;
}

.dispaly-password {
    margin-top: 4rem;
}